<% provide(:title, "Top") %>
<div class="main-container">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="top-title">飲み会幹事秘書アプリ</h1>
    <h1 class="top-title">「スペース」</h1>
    <h2 class="top-title">Secretary to make Party Coordinator Elite "SPaCE APP"</h2>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="top-icon">
      <%= link_to image_tag("/layout/space_icon_with_logo.png", :size => "350x270"), new_user_registration_path %>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="top-text">煩わしい飲み会幹事もこれ1本！</h3>
    <h4 class="top-text">忙しいビジネスパーソンをデキる飲み会幹事にする</h5>
    <h4 class="top-text">LINE連携型の飲み会幹事お助けアプリで</h5>
    <h4 class="top-text">頭と心にスペースをつくりませんか？</h5>
    <%= link_to "幹事お助けアプリ「SPaCE」って？", new_user_registration_path, class: "btn btn-block btn-default" %>
    <p class="top-text">ログインは<%= link_to "こちら", new_user_session_path %></p>
  </div>
</div>
<div class="main-container-2">
</div>
