<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1 class="top-title">飲み会幹事秘書アプリ「スペース」</h1>
  <h2 class="">Secretary to make Party Coordinator Elite "SPaCE APP"</h2>
  <h3 class="">煩わしい飲み会幹事もこれ1本！</h3>
  <h5 class="">忙しいビジネスパーソンをデキる飲み会幹事にする、LINE, Google連携型の飲み会幹事お助けアプリで</h5>
  <h5 class="">頭と心にスペースをつくりませんか？</h5>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<%= link_to "こちら", new_user_registration_path %></p>
</div>