<% provide(:title, 'New-Event') %>
<% provide(:class_text, 'event--new') %>
<% provide(:button_text, 'イベント作成') %>
<h1>新規イベントの作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'chouseisan_form', model: @event, explanation_need: true %>
    <%= link_to "日程が調整済の場合はこちら", events_new_b_path %>
  </div>
</div>
