/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* layout */

.top-title {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}

.main-container {
/*  background-image: url("/layout/space_bg_free.png");*/
  background-image: url("/layout/space_bg_without_logo2.png");
  height: 700px;
  background-size: cover;
}
.main-container-2 {
  background-image: url("/layout/space_bg_with_logo.png");
  height: 800px;
  background-size: cover;
}

.top-text {
  color: white;
  text-align: right;
  text-shadow: 1px 1px 2px black;
}

.top-icon {
  margin-top: 10px;
  margin-right: 30px;
}


/* 入力フォーム */

.label-form {
  margin-top: 10px;
}
.btn-form {
  margin-top: 10px;
}


#app_explanation {
  color: black;
  margin-top: 50px;
  background-color: #E0FFFF;
  background: rgba(255,255,255,.6);
}

#new_user_registration {
  color: white;
  text-shadow: 1px 1px 2px black;
}
