// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 入力フォーム */

.label-new-event {
  margin-top: 10px;
}
.btn-new-event {
  margin-top: 10px;
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding: 10%;
}

#chouseisan-table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  tr {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
  }
  td {
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
  }
}

.notice {
  a:link {
  color:#ff0000; text-decoration:none;
  }
}


/* イベント詳細画面 */

.bg_test {
//    height: 250px;                  /* 高さ指定 */
//    padding:  20px;                 /* 余白指定 */
//    font-size: 20px;                /* 文字サイズ指定 */
    background-color: powderblue;   /* 背景色指定 */
}


/* ペンディングメッセージ */
.pending_message {
  color:#ff0000; text-decoration:none;
  display: inline;
  font-weight: bold;
}

/* chouseisan-table */
.copy_alert {
  display: none;
}


/* 参加メンバー一覧ページ */
#table-members {
  td {
    vertical-align: middle;
  }  
}