<p>"<%= @resource.user_name %>"さんこんにちは！</p>
<br>
<p>飲み会幹事アプリ「<%= link_to 'SPaCE', root_url %>」にて、無事パスワードが変更されましたのでご連絡致します。</p>
<p>下記リンクよりログインできます。</p>
<br>
<p><%= link_to 'SPaCEにログイン', new_user_session_url %></p>
<br>
<p>心当たりのない場合は、お手数ですが本メールを削除していただきますよう、お願い申し上げます。</p>