<p><%= @resource.user_name %>さんこんにちは！</p>
<br>
<p>飲み会幹事アプリ「<%= link_to 'SPaCE', root_url %>」にて、パスワード変更のためのリンクがリクエストされました。以下のリンクから変更可能です。</p>
<br>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<br>
<p>心当たりのない場合は、お手数ですが本メールを削除していただきますよう、お願い申し上げます。</p>
