<p><%= @resource.user_name %>こんにちは。</p>
<br>
<p>残念ながら、ログインの失敗が規定回数を超えたため、アカウントがロックされました。</p>
<br>
<p>アカウントのロックを解除するには、以下のリンクをクリックしてください:</p>
<p><%= link_to 'アカウントを復活（凍結解除）する', unlock_url(@resource, unlock_token: @token) %></p>
<br>
<p>心当たりのない場合は、お手数ですが本メールを削除していただきますよう、お願い申し上げます。</p>
